<article class="tmpl-hh-navigation__item tmpl-hh-navigation__item_{{this.modifier}}" data-menu-link="#{{this.modifier}}">
  <hht:vacancies-filter
            department="{{this.dep}}"
            professional_role=""
            area=""
            experience=""
          ></hht:vacancies-filter>
  <div class="tmpl-hh-navigation__item-image"></div>
  <div class="tmpl-hh-navigation__item-name">
    <span>{{this.name}}   <hht:vacancies-filter
            department="{{this.dep}}"
            professional_role=""
            area=""
            experience=""
          ></hht:vacancies-filter></span>
    <img alt="" class="tmpl-hh-navigation__item-decor" src="https://hhcdn.ru/ichameleon/340121.svg"/>
  </div>
  <p class="tmpl-hh-navigation__item-description">{{this.description}}   <hht:vacancies-filter
            department="{{this.dep}}"
            professional_role=""
            area=""
            experience=""
          ></hht:vacancies-filter></p>
</article>
