<div class="tmpl-hh-selector {{parentalClass}}">
  <button class="tmpl-hh-selector__button">
    <span class="tmpl-hh-selector__button-text" data-initial-value="{{placeholder}}">{{placeholder}}</span>
    <div class="tmpl-hh-selector__arrow">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 13L12.3301 5.5H3.66987L8 13Z" fill="#0F171E"/>
      </svg>
    </div>
  </button>

  <ul class="tmpl-hh-selector__list tmpl-hh-selector__list_hidden">
    {{#each options}}
      <li class="tmpl-hh-selector__option">
        {{this.name}}
        {{#if ../isFilter}}
          <hht:vacancies-filter area="{{this.departmentCode}}"/>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
